@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use '@angular/material' as mat;

// Include Material core styles
@include mat.core();

// Define your color palettes
$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create a light theme
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(),
));

// Apply the theme to all Material components
@include mat.all-component-themes($my-theme);
/* html{
 font-family: $font-stack;
}
body {
  margin: 0;
  background-color: $primary-color;
  color: $secondary-color;
}
*/

body {
  font-family: $font-family;
  background: $bg-gradient;
  color: $text-color;
  margin: 0;
  padding: 0;
  padding-bottom: 60%;
  height: 100%;
}


