// _variables.scss
$primary-color: #34dbb4;
$secondary-color: #d034db;
$font-stack: 'Arial', sans-serif;


// variables.scss
$font-family: "Poppins", sans-serif;
$bg-gradient: radial-gradient(circle at top left, #181023, #0b0519);
$text-color: #c3b3d8;
$button-bg: #433352;
$button-hover-bg: #9965dd;
$button-hover-color: #150722;
