.widget-container {
  width: 400px;
  border: #eceff1 1px solid;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  margin: 10px;
  button {
    display: block;
    margin: 0 auto;
    background: #fafafa;
    border: #ccc solid 1px;
    border-radius: 3px;
  }
}

.widget-header {
  position: relative;
  border-bottom: #eceff1 1px solid;
  margin: 0 -10px 0 -10px;
  padding: 0 15px 15px 15px;
}
.widget-title {
  font-size: 24px;
  font-weight: bold;
}
.widget-sub-title {
  font-size: 13px;
}

.sky-condition {
  font-size: 48px;
}

.widget-content {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}